<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ccb4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ccb_Connection" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=ebtaju; database=ccb;persist security info=true;CharSet=utf8;" />
        <add name="ccb4.Properties.Settings.ccbConnectionString" connectionString="server=localhost;user id=root;password=ebtaju;persistsecurityinfo=True;database=ccb;allowuservariables=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <userSettings>
        <ccb4.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;SerializableConnectionString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;ConnectionString&gt;server=localhost;user id=root;password=ebtaju;database=ccb;port=3306;default command timeout=600;&lt;/ConnectionString&gt;
&lt;/SerializableConnectionString&gt;</value>
            </setting>
            <setting name="Nivel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Pesquisa_Campo" serializeAs="String">
                <value />
            </setting>
            <setting name="Pesquisa_Valor" serializeAs="String">
                <value />
            </setting>
            <setting name="Pesquisa_Resultado" serializeAs="String">
                <value />
            </setting>
            <setting name="Form_Incicial" serializeAs="String">
                <value>frmCadastroBordado</value>
            </setting>
            <setting name="Conectado" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Usuario" serializeAs="String">
                <value />
            </setting>
        </ccb4.Properties.Settings>
    </userSettings>
</configuration>