<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BLL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BLL.Properties.Settings>
            <setting name="corTarefaSelecionada" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SeesaoTimeOut" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TempoAtualizaPedidos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="corCriacaoNormal" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="corCriacaoUrgente" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="corPedidoNormal" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="corPedidoMensal" serializeAs="String">
                <value>0</value>
            </setting>
        </BLL.Properties.Settings>
    </userSettings>
</configuration>